*.sw*
.RData
.rhistory
.Rhistory
malariasimulationGD.Rcheck
..Rcheck/
malariasimulation_*.tar.gz
.Rd2pdf*
.Rproj.user
*.Rproj
.DS_Store
/build/
doc
inst/doc
/doc/
/Meta/
src/*.o
src/*.so
src/*.dll
src/*.dylib
src/symbols.rds
